venv
.env
.DS_Store
__pycache__
property_data.csv
property_dataset_floor.csv
property_dataset_new.csv
Property_datatset.csv
updated_property_data_with_colony_lowercase.csv
property_dataset_with_beautiful_description.csv
Description.csv